body{
  background-image:linear-gradient(90deg,rgb(20, 43, 110),rgb(56, 151, 234));
  
  

}
.card-list{
display:flex;
flex-wrap: wrap;
justify-content: space-around;
margin:50px;
}
.card-body{
  background-color: white;
  width: 275px;
  border-radius: 20px;
  
}


.card-body:hover{
  margin-top: -.25rem;
  margin-bottom: .25rem;
  transition: all 0.3s

}
.card-body > button {
  background-color: #33AEFF;
  width: 100%;
  border-radius:30px;
  text-align: center;
  color: white;
  border:0;
  

}
.card-body > button:hover{
  background-color: rgb(9, 21, 98);
 
}
.card-price{
  text-align: center;
  border-bottom: 1px solid grey;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  
}
.card-details{
  margin: 10px;
  padding: 10px;
}
.card-price > h1 {
  margin-top: 0;
  font-weight: lighter;
  font-size: 55px;
  margin-bottom: 22px;
}

.card-price > h4 {
  margin-bottom: 8px;
  color: grey;
}
span{
  font-size:20px

}

